** ASSIGNMENT --1 **
CREATE CATALOG   WITH NAME ASSIGNMENT ?
CREATE DATABASE IN THE CATALOG (ASSIGNMENT) WITH NAME STUDENTSINFO ?

In [0]:
CREATE CATALOG IF NOT EXISTS ASSIGNMENT;
SHOW CATALOGS

In [0]:
USE CATALOG assignment;
CREATE DATABASE IF NOT EXISTS STUDENTSINFO;
SHOW DATABASES IN ASSIGNMENT;

** ASSIGNMENT -2 *
1. Create 2 databases named College and School?
2. Delete 1 Database named School?
3. You have to use College Database for next process?
4. Create one table for students?

In [0]:
USE  CATALOG assignment;
USE DATABASE STUDENTSINFO;
CREATE DATABASE IF NOT EXISTS COLLEGE ;
CREATE DATABASE IF  NOT   EXISTS SCHOOL;
SHOW DATABASES IN ASSIGNMENT;

In [0]:
USE CATALOG assignment;
DROP DATABASE IF EXISTS STUDENTSINFO CASCADE;
DROP DATABASE IF EXISTS SCHOOL CASCADE;
SHOW DATABASES IN ASSIGNMENT;

In [0]:
use catalog assignment;
CREATE TABLE college.studentsinfo 
( 
  student_id INT,
  student_name STRING,
  student_age INT
) ;
 select * from college.studentsinfo;

In [0]:
use  catalog assignment;

use database college;

insert into college.studentsinfo values (7 ,'chinta',26),
(8,'jagadeesh prasad',27),
(9 ,'saikumar ',48),
(10,'kalyan',42),
(11,'ramesh kumar ',40),
(12,'raju',35);
select * from college.studentsinfo ;
select distinct student_name from college.studentsinfo where student_age <58

In [0]:
USE CATALOG ASSIGNMENT ;
USE DATABASE COLLEGE ;
CREATE TABLE COLLEGEDETAILS (
    college_id INT   NOT NULL,
    college_name STRING NOT NULL,
    college_location STRING
);
INSERT INTO COLLEGEDETAILS VALUES (1,'College of Engineering','Hyderabad'),(2,'College of Arts','Hyderabad') , (3,'College of Science','Hyderabad') , (4,'College of Management','Hyderabad');
select * from college.collegedetails;

In [0]:
USE CATALOG assignment;
USE DATABASE college;



-- Example: Update college_location for a specific college_id
UPDATE collegedetails
SET college_location = 'Bangalore'
WHERE college_id = 3;


SELECT * FROM  college.collegedetails;

In [0]:
USE CATALOG ASSIGNMENT ;
USE DATABASE COLLEGE ;
 UPDATE COLLEGEDETAILS 
 SET college_name = 'GITAM ' WHERE college_id =1;
 UPDATE COLLEGEDETAILS 
 SET college_location = 'Hyderabad' WHERE college_id = 1;
SELECT * FROM  college.collegedetails

In [0]:
ALTER TABLE  studentsinfo 
SET TBLPROPERTIES ('delta.columnMapping.mode' = 'name');
ALTER TABLE studentsinfo RENAME COLUMN COLLEGE_NAME TO  COLLEGE_LOCATION;

In [0]:
SELECT * FROM studentsinfo

In [0]:
--ALTER TABLE studentsinfo ADD COLUMN COLLEGE_NAME  STRING ;
use catalog assignment;
use database college;
update studentsinfo 
set COLLEGE_LOCATION =" HYDERABAD " WHERE  student_age =28;
SELECT* FROM studentsinfo;

In [0]:
use catalog assignment;
use database college;
--Select  * from studentsinfo where COLLEGE_LOCATION = ' HYDERABAD '
Select    student_id  FROM STUDENTSINFO WHERE COLLEGE_LOCATION = ' GUNTUR '
--select * from studentsinfo where student_age > 30;

COLUM ALISS IS JUST REED THE DATA NAME AS WE WANT 
 WE CANT USE IN THE WHERE CLASS

In [0]:
use catalog workspace;
use database information_schema;
select table_catalog as TABLE_CATALOG,table_schema as TABLE_SCHEMA,table_name as TABLE_NAME,table_type as TABLE_TYPE,is_insertable_into as IS_INSERTABLE_INTO,commit_action as COMMIT_ACTION from tables